repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.0
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
        types: [python]
        stages: [pre-commit]
      # Run the formatter.
      - id: ruff-format
        types: [python]
        stages: [pre-commit]

default_install_hook_types: [pre-commit]
default_stages: [pre-commit]
